/* Conan Stat Calculator */
@import url('https://fonts.googleapis.com/css?family=Jomhuria');

body {
  background-image: url(../images/background.jpg);
  color: #ddc271;
  font-family: Jomhuria;
  font-size: 30px;
}

h1#title {
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
}

table {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

table, td {
  border-collapse: collapse;
  padding: 5px;
}

tbody, td {
  border: 1px solid grey;
  border-collapse: collapse;
}

thead {
  background-image: url(../images/BgTopBanner.png);
  background-size: 100% 100%;
/*  border-left: 1px solid grey;
  border-right: 1px solid grey;*/
}

.bonuses {
  background-image: url(../images/BgFeats.png);
  background-size: 100% 100%;
}

th {
  text-align: center;
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding-left: 30px;
}

li span:first-child {
  display: table-cell;
}

li span:last-child {
  display: table-cell;
  width: 100%;
  padding-left: 3px;
  padding-right: 10%;
}

button {
  background-image: url(../images/ButtonNormal.png);
  border-left: 0;
  border-right: 0;
  border-top: 2px solid grey;
  border-bottom: 1px solid grey;
  color: silver;
  font-weight: bold;
}

button#reset-all, button#reset-attributes {
  background-size: cover;
}

button:hover {
  background-image: url(../images/ButtonPressed.png);
  color: black;
}

.current-level

.hide {
  display: none;
}

.disabled {
}

#character-title {
  font-size: 1.5em;
}

.attribute, .current-level, .cost {
  border: 0;
}

.attr-div {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.attribute {
  text-transform: uppercase;
}

.current-level {
  background-image: url(../images/StatField.png);
  width: 68px;
  background-size: 100% 100%;
  text-align: right;
  padding-right: 20px;
  display: inline-block;
  padding-top: 2px;
}

.cost {
  padding-right: 10px;
}

.reset-attribute, .max-attribute, .stat-button {
  line-height: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.stat-button {
  font-weight: bold;
  font-size: 16px;
  white-space: pre;
  position: relative;
  top: 1px;
  width: 30px;
}

.max-attribute {
  width: 48px;
}

.stat-icon {
  vertical-align: middle;
}

.experience {
  min-width: 274px;
}

.player-stats {
  width: 12%;
/*  display:none;*/
}

.conanimg {
  vertical-align: middle;
  height:auto;
  max-width: 100%;
  border: 0;
  display: block;
  margin: 0 auto;
}

/* PROGRESS BARS */
.progress-bar-stat {
  width: 60%;
  display: table-cell;
  background-image: url(../images/teir0.png);
  background-size:100% 100%;
  height: 30px;
}

.progress-bar {
/*  display: inline-flex;
  justify-content: space-between;*/
  width: 0%;
  background-color: rgba(221, 194, 150,.2);
  position:relative;
  left: -5px;
  height: 12px;
  /*top: 9px;*/
  transition: .1s
}

.perk-1 {
  background-image: url(../images/teir1.png);
}
.perk-2 {
  background-image: url(../images/teir2.png);
}
.perk-3 {
  background-image: url(../images/teir3.png);
}
.perk-4 {
  background-image: url(../images/teir4.png);
}
.perk-5 {
  background-image: url(../images/teir5.png);
}

.bonuses {
  text-align: center;
  font-style: italic;
}

#reset-all {
  width: 33%
}

#reset-attributes {
  width: 16%;
}

.reset {
  text-align: center;
}

#health, #stamina, #encumbr-player, #melee,
#ranged, #armor, #dmg-resist {
  display: table-cell;
  text-align: right;
}

.attribute

#strength
#agility
#vitality
#accuracy
#grit
#encumbrance
#survival

#str-cost
#agi-cost
#vit-cost
#acc-cost
#grit-cost
#encumb-cost
#surv-cost

#health
#stamina
#encumbr-player
#melee
#ranged
#armor
#dmg-resist

.current-level